.header {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  background: rgba(0, 0, 0, 0.89);
  border-bottom: 10px solid #ff0000
}

.nav-links {
  margin: 0;
  height: 80%;
  min-width: 240px;
  display: flex;
  justify-content: space-between;
  list-style: none
  }
  
.nav-link {
  display: flex;
  align-items: center;
  padding: 4px 11px 5px 11px;
  color: white;
  cursor: pointer;
  text-decoration-line: none
}

.nav-link:hover {
  color: rgb(184, 184, 184);
  transition-duration: 165ms;
}

.activeRoute {
  color: red !important;
}
  